    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: rgba(116, 113, 113, 0.15);
    }
    
    .error-container-emptyfields {
        height: 30px;
        width: 240px;
        text-align: center;
        position: absolute;
        left: 630px;
        top: 54.5px;
        background-color: rgba(255, 0, 0, 0.55);
        border-radius: 6px;
    }
    
    #emptyfields {
        margin-top: 6px;
    }
    
    .error-container-nomethodselected {
        height: 30px;
        width: 240px;
        text-align: center;
        position: absolute;
        left: 630px;
        top: 54.5px;
        background-color: rgba(255, 0, 0, 0.55);
        border-radius: 6px;
    }
    
    #nomethodselected {
        margin-top: 6px;
    }
    
    .booking-container {
        width: 100%;
        height: 1300px;
    }
    
    .booking-wrapper {
        width: 70%;
        background-color: white;
        height: 100%;
        margin: 0 auto;
    }
    
    .heading-wrapper {
        height: 60px;
        width: 100%;
    }
    
    #heading {
        font-size: 28px;
        padding-left: 40px;
        padding-top: 15px;
    }
    
    .bike-image-wrapper {
        width: 45%;
        height: 200px;
        margin: 0 0 0 200px;
    }
    
    #img {
        height: 100%;
        width: 100%;
    }
    
    .bike-info-wrapper {
        height: 140px;
        width: 60%;
        margin-left: 30px;
    }
    
    #stock {
        font-size: 18px;
        color: rgb(14, 245, 14);
        margin-bottom: 8px;
    }
    
    #name {
        color: rgb(253, 27, 27);
        font-size: 19px;
        padding-bottom: 15px;
    }
    
    #qty-quantity {
        font-size: 18px;
        margin-bottom: -8px;
    }
    
    #price-price {
        font-size: 18px;
    }
    
    #price {
        font-size: 17px;
    }
    
    #item {
        line-height: 5px;
    }
    
    .payment-methods-container {
        width: 95%;
        height: 600px;
        margin: 0 auto;
        /* background-color: aqua; */
    }
    
    .payment-methods {
        width: 100%;
        height: 100%;
    }
    
    #payment-methods {
        padding-top: 10px;
        padding-left: 20px;
        font-size: 19px;
        margin-bottom: 10px;
        text-decoration: underline;
    }
    
    #payment-methods-text {
        height: 30px;
        margin-bottom: 15px;
        margin-top: 5px;
        font-size: 17px;
    }
    
    #form1 {
        margin-top: 20px;
    }
    
    #accholdername,
    #branchname,
    #bankaccno {
        width: 200px;
        height: 33px;
        border-radius: 3px;
        background-color: rgba(202, 201, 201, 0.651);
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 5px;
    }
    
    #accholdername::placeholder,
    #branchname::placeholder,
    #bankaccno::placeholder {
        color: black;
    }
    
    #form1 label,
    #form2 label {
        margin-left: 20px;
        font-size: 17px;
    }
    
    #cash {
        margin-bottom: 25px;
    }
    
    #link-a {
        color: white;
        text-decoration: none;
    }
    
    #branchname {
        width: 260px;
    }
    
    #note {
        line-height: 25px;
        font-size: 17px;
        padding-bottom: 255px;
    }
    
    #payment-btn {
        height: 30px;
        width: 80px;
        background-color: black;
        color: white;
        font-weight: 600;
        margin-left: 160px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #payment-btn:hover {
        color: black;
        background-color: white;
        font-weight: 600;
        box-shadow: inset 4px 4px 6px gray;
    }